# Python Language Basics, IPython, and Jupyter Notebooks

In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

## The Python Interpreter

```
%quickref -> Quick reference.
%run hello_world.py
'''

## IPython Basics

### Running the IPython Shell

$ jupyter notebook --port=9630

In [1]:
import numpy as np
data = {i : np.random.randn() for i in range(7)}
data

{0: 0.8587228806658953,
 1: -0.2958141096208516,
 2: -0.4040544297587159,
 3: 0.9915938166610769,
 4: 0.07290348537968654,
 5: 0.7419616219428385,
 6: 1.0564805252761569}

In [17]:
from numpy.random import randn

data = {i : randn() for i in range(7)}  #makes an index starting at zero
#data = {randn() for i in range(7)}     #no index number
print(data)

{0: -1.7609698100780502, 1: 0.7550510138008126, 2: 0.4882886645118509, 3: -0.7848827953458731, 4: 0.17471789854037795, 5: -0.27780568440567055, 6: 0.8682848000672835}

### Tab Completion

### Introspection

```
In [8]: b = [1, 2, 3]
In [9]: b?
In [10]: print?
```

In [186]:
print?

In [ ]:
#push current directory to the stack, move to the new directory
%pushd pass

In [ ]:
%popd #move to the stack you popped off earlier

In [6]:
%dirs

['~/mtGit/tests_py_mt']

In [15]:
%dhist

Directory history (kept in _dh)
0: /home/tapew0rm/mtGit/tests_py_mt

In [16]:
_dh

['/home/tapew0rm/mtGit/tests_py_mt']

In [ ]:
%env

In [10]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [19]:
#returns an object, is a list of the console output
ip_info = !ifconfig virbr0 | grep "inet"

In [ ]:
!ifconfig

In [107]:
ip_info[0].strip()

'inet addr:192.168.122.1  Bcast:192.168.122.255  Mask:255.255.255.0'

In [7]:
def add_concat(coconutA, coconutB):
    """
    This is an example of a doc string
    Add two coconuts together
  
    Returns
    -------
    the_sum : type of arguments
    """
    return coconutA + coconutB

In [9]:
add_concat('bowling with   ', 'coconuts -->')

'bowling with   coconuts -->'

In [12]:
#add_concat?
add_concat??

In [14]:
np.*load*?

### The %run Command

In [21]:
def sir_Robin(x, y, z):
    return (x + y) / z

a = 5
b = 6
c = 7.5

result = sir_Robin(a, b, c)

In [22]:
sir_Robin(55,77,22)

6.0

```python
%run ipython_script_test.py
%load ipython_script_test.py
```

#### Interrupting running code

### Executing Code from the Clipboard
'''
%paste
%cpaste

### Terminal Keyboard Shortcuts

### About Magic Commands
'''
%timeit, %time for single line
%debug?
%pwd
camelot = %pwd


'''

### Matplotlib Integration

In [175]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [174]:
%matplotlib inline

## Python Language Basics

### Language Semantics
Everything is an object.
Indentation seperates code blocks,  not braces.
for x in array:     #colon means more stuff tabbed in on next line
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)
Single line, multiple arguments seperated by semicolon
a_thing = 5; b_obj = 6; c_semprini = 7

Comments # single line
         '''
         multi
         line
         comments
         '''

#### Function and object method calls

```
result = f(x, y, z)
g()
```

```
obj.some_method(x, y, z)
```

```python
result = f(a, b, c, d=5, e='foo')
```

#### Variables and argument passing

In [ ]:
a = [1, 2, 3]

In [ ]:
b = a

In [ ]:
a.append(4)
b

In [1]:
def append_element(some_list, element):
    some_list.append(element)

In [2]:
import string as st
sir_Robin = st.ascii_letters + st.digits
#st.printable
#st.hexdigits
#st.octdigits
#letters concats lower & upper
print(sir_Robin)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789

```python
In [27]: data = [1, 2, 3]

In [28]: append_element(data, 4)

In [29]: data
Out[29]: [1, 2, 3, 4]
```

#### Dynamic references, strong types

In [19]:
#a = 5
#type(a)
a = 'foo'
type(a)

str

In [ ]:
'5' + 5

In [ ]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

In [ ]:
a = 5
isinstance(a, int)

In [ ]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

#### Attributes and methods

```python
In [1]: a = 'foo'

In [2]: a.<Press Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith
```

In [24]:
a = 'coconut_foo'

In [25]:
type(a)

str

In [26]:
getattr(a, 'split')

#### Duck typing

In [ ]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [ ]:
isiterable('a string')
isiterable([1, 2, 3])
isiterable(5)

if not isinstance(x, list) and isiterable(x):
    x = list(x)

#### Imports

```python
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b
```

import some_module
result = some_module.f(5)
pi = some_module.PI

from some_module import f, g, PI
result = g(5, PI)

import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

#### Binary operators and comparisons

In [ ]:
5 - 7
12 + 21.5
5 <= 2

In [ ]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

In [ ]:
a == c

In [ ]:
a = None
a is None

#### Mutable and immutable objects

In [ ]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

In [ ]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

### Scalar Types

#### Numeric types

In [ ]:
ival = 17239871
ival ** 6

In [ ]:
fval = 7.243
fval2 = 6.78e-5

In [28]:
3 / 2

1.5

In [27]:
3 // 2

1

In [76]:
%time
import math
g = [1,3,5,7,17,21]
p = [12,122,112,1212,1222,1112]
t =[-12,-122,-112,-1212,-1222,-1112]
for x in g:
    print(hex(x))
for y in p:
    print(oct(y))
for f in g:
    print(math.factorial(f))
for h in t:
    print(abs(h))

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 5.48 µs
0x1
0x3
0x5
0x7
0x11
0x15
0o14
0o172
0o160
0o2274
0o2306
0o2130
1
6
120
5040
355687428096000
51090942171709440000
12
122
112
1212
1222
1112

In [78]:
for u in p:
    print(math.sin(u))

-0.5365729180004349
0.4987131538963941
-0.8899956043668333
-0.6089722936395112
0.07945839607244107
-0.12348338230693397

In [91]:
pII = math.pi
print(math.sin(pII/2)) 
print(math.cos(pII))
print(math.tan(pII))
#print(math.asin(pII))
#math.acos
#math.atan

1.0
-1.0
-1.2246467991473532e-16

In [95]:
round(pII, 5)

3.14159

In [97]:
complex(99,88)

(99+88j)

In [64]:
for x in g:
    print(bin(x))
for y in p:
    print(math.sqrt(y))
for w in g:
    print(math.log(w))
print('semprini')

0b1
0b11
0b101
0b111
0b10001
0b10101
3.4641016151377544
11.045361017187261
10.583005244258363
34.813790371058424
34.95711658589707
33.34666400106613
0.0
1.0986122886681098
1.6094379124341003
1.9459101490553132
2.833213344056216
3.044522437723423
semprini

In [99]:
def kung_pow(x, y):
    print(math.pow(x,y))

In [100]:
kung_pow(8, 8)

16777216.0

In [73]:
for x in g:
    print(math.pow(x,2))

1.0
9.0
25.0
49.0
289.0
441.0

#### Strings
Strings can be coded with single or double quotes, use doubles if string has one single in it.
Escape characters are \t for tab and \n for newline

In [151]:
a = 'one way of writing a string'
b = "another way"

In [153]:
a.replace('writing', 'inflating')

'one way of inflating a string'

In [177]:
print(a)

5.6

In [ ]:
b.split

In [157]:
a.splitlines()

['one way of writing a string']

In [166]:
c = """
This is a longer string that \n
spans multiple lines \n
I am the bottom line
"""

In [164]:
c.split('\n')

['',
 'This is a longer string that ',
 '',
 'spans multiple lines ',
 '',
 'I am the bottom line',
 '']

In [160]:
c.count('\n')

6

In [169]:
c.splitlines()

['',
 'This is a longer string that ',
 '',
 'spans multiple lines ',
 '',
 'I am the bottom line']

In [ ]:
a = 'this is a string'
a[10] = 'f'
b = a.replace('string', 'longer string')
b

In [173]:
print(type(a))
print(type(s))

<class 'float'>
<class 'str'>

In [170]:
a = 5.6
s = str(a)
print(s)

5.6

In [ ]:
s = 'python'
list(s)
s[:3]

In [ ]:
s = '12\\34'
print(s)

In [ ]:
s = r'this\has\no\special\characters'
s

In [ ]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

In [109]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [124]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [126]:
"Whizzo butter time is {0} GMT".format('15:00')

'Whizzo butter time is 15:00 GMT'

In [146]:
'semPriNi'.capitalize()

'Semprini'

In [148]:
'.sEmPriNi'.lower()

'.semprini'

In [150]:
'semprini'.upper()

'SEMPRINI'

In [141]:
#Center the string between the given spaces/padding, optional fill character
'Semprini'.center(13, '~')

'~~~Semprini~~'

In [144]:
'Semprini'.ljust(13, '~')

'Semprini~~~~~'

In [145]:
'Semprini'.rjust(13,'^')

'^^^^^Semprini'

In [121]:
#true if matches end of string
'Semprini'.endswith('ini')

True

In [123]:
#return the index position of a substring, limit search with optional start/end positions 
'Semprini'.find('mp')

2

In [134]:
#True if all characters are letters or digits
'43234', 'semprini', '#$%#@'.isalnum()

('43234', 'semprini', False)

In [140]:
'{_43.2$34', 'semprini', '#$%#@'.isalpha()

('{_43.2$34', 'semprini', False)

#### Bytes and Unicode

In [ ]:
val = "español"
val

In [ ]:
val_utf8 = val.encode('utf-8')
val_utf8
type(val_utf8)

In [ ]:
val_utf8.decode('utf-8')

In [ ]:
val.encode('latin1')
val.encode('utf-16')
val.encode('utf-16le')

In [ ]:
bytes_val = b'this is bytes'
bytes_val
decoded = bytes_val.decode('utf8')
decoded  # this is str (Unicode) now

#### Booleans

In [ ]:
True and True
False or True

### Type Casting and Type Conversions
'''
Use built-in functions to convert from one type to another.
float(x)
list(x)
int(x)


'''

In [13]:
s = '3.14159'
fval = float(s)
print(type(fval))
#int(fval)
#bool(fval)
#bool(0)
print(fval)

<class 'float'>
3.14159

#### None
None is the Python null value type. If a function does not explicitly
return a value, it implicitly returns None.

In [4]:
a = None
a is None
b = 5
b is not None

True

In [5]:
#none is also a common default value for function arguments
def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

In [6]:
#None is also a unique
type(None)

NoneType

#### Dates and times

In [7]:
from datetime import datetime, date, time
dt = datetime(2018, 10, 28, 20, 15, 35)
dt.day
dt.minute

15

In [8]:
dt.date()
dt.time()

datetime.time(20, 15, 35)

In [ ]:
dt.strftime('%m/%d/%Y %H:%M')

In [ ]:
datetime.strptime('20091031', '%Y%m%d')

In [ ]:
dt.replace(minute=0, second=0)

In [ ]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

In [ ]:
dt
dt + delta

### Control Flow
"""
Python has several built-in keywords for conditional logic, loops and
other standard control flow concepts found in other languages.

#### if, elif, and else
The if statement is one of the most well-known control flow statement
types. It checks a condition that, if True, evaluates the code
if ..elif in 4 lines may not be the adaptable or consise
y if x else z is the same as *=(((x and y) or z))

In [183]:
def bad_words(badw):
    if badw < 0:
        print('Sorry, you are out of money ;)')
    elif badw == 0:
        print('Do you need House credits?')
    elif 0 < badw < 5:
        print('Cleaning out your pocket change?')
    else:
        print('Oooh, a big spender !!!')
        print('You have this many credits :')
        print(badw)

In [185]:
bad_words(4)

Cleaning out your pocket change?

In [ ]:
if x < 0:
    print('It's negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

In [ ]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

In [49]:
test_pidgen = 4 > 8 > 2 > 1

In [50]:
tp = test_pidgen
if tp == True:
    print('Mr E. Henry Thripshaw approves!')
if tp == False:
    print('No, no, no, no, no spam for you ;(')

No, no, no, no, no spam for you ;(

In [59]:
gui_drop_menu = 'coconuts'
print({'gumbys': 1.55,
       'brain specialist': 5.23,
       'parrot eggs': 0.99,
       'moustach': 0.49,
       'lupines': 1.23,
       'semprini': 9.99,
       'coconuts': 2.56,
       '': "Type something in, I'm no mind reader"}[gui_drop_menu])

2.56

In [76]:
menu_branch = {'gumbys': 1.55,
               'brain specialist': 5.23,
               'parrot eggs': 0.99,
               'moustach': 0.49,
               'lupines': 1.23,
               'semprini': 9.99,
               'coconuts': 2.56,
               'lemon curry?': 4.35,
               '': "Type something in, I'm no mind reader"}  #catch empty strings

In [79]:
print(menu_branch.get('lemon curry?', 'Choose well you will --Yoda'))

4.35

In [73]:
def poc_order_up(c):
    choice = c
    if choice in menu_branch:
        print(menu_branch[choice])
    else:
        print('No, no, no, no, no spam for you ;(')

In [75]:
poc_order_up('parrot eggs')

0.99

##Boolean Tests and the value of being truthful.
True and False are custom versions of ints 1 and 0, more readable.
A T/F value isinherent in all objects.
Nonzero numbers & nonempty = True.
Zero numbers, empty objects, None(special object) = False.
and & or can return true or false, always return a coconut.
Once the results are known, the statement stops evaluating.
and
or 
not
'Short-circtuit evaluation' = py stops when it finds the first true operand.

In [89]:
#return left side if false
45 and 54, 54 and 99, 66 and 989  #both are true, returns the right

(54, 99, 989)

In [90]:
#here '[]' is false, stops and returns
[] and {}

[]

In [87]:
#here 321 is true, so 
321 and []

[]

###for loops

for value in collection:
    # do something with value

In [121]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
    print(value)

1
2
4
5

In [122]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
    print(value)

1
2
0
4
6

In [101]:
for g in range(85, 88, 1):
    for j in range(4, 8):
        if j > g:
            break
        print((g, j))

(85, 4)
(85, 5)
(85, 6)
(85, 7)
(86, 4)
(86, 5)
(86, 6)
(86, 7)
(87, 4)
(87, 5)
(87, 6)
(87, 7)

In [ ]:
a = ((x and y) or z)

In [ ]:
a = y if x else z

In [136]:
#boolean cheat codes
#select from a set of objects
#assigns x to the first nonempty 
x = a or b or c or None #or default
#good for

In [138]:
L = [1, 0, 2, 0, 'lemon curry', '', 'rumham', []]

In [140]:
#fetch the true values
list(filter(bool, L))

[1, 2, 'lemon curry', 'rumham']

In [142]:
[x for x in L if x]

[1, 2, 'lemon curry', 'rumham']

In [143]:
#truth aggregate
any(L), all(L)

(True, False)

for a, b, c in iterator:
    # do something

## while loops
the general iteragion construct in Python
it keeps executing a block or blocks until test at top == True.
When it becomes false the control moves to the block that follows
If starts at false, the block never runs and the while statement is skipped

In [102]:
#slice off the string until the last letter
x = 'semprini'
while x:
    print(x, end=' ')
    x = x[1:]

semprini emprini mprini prini rini ini ni i

In [105]:
a=5; b=115
while a < b:
    print(a, end=' ')
    a *= 2

5 10 20 40 80

In [144]:

x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

#### pass

used during function development, place holder for return statements.  

if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')

#### range

In [ ]:
range(10)
list(range(10))

In [4]:
print(list(range(0, 20, 2)))
print(list(range(5, 0, -1)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[5, 4, 3, 2, 1]

seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]

In [99]:
seq = (1,2,3,4)
for i in range(len(seq)):
    val = seq[i]
    if i % 3 == 0 or i % 5 == 0:
        pass #seq += 1

In [ ]:
sum = ()
for i in range(355, 666):
    # % is the modulo operator
    if i % 9 == 0 or i % 5 == 0:
        print(i,i/2)

#### Ternary expressions
if/else multiline statements can be constructed on one line. eg
if x:
   a = y
else:
   a = z
 
this can be rewriten as: a = y if x else z,

In [ ]:
if x:
    a = y
else:
    a =

In [93]:
a = 'trew' if 'spam' else 'flause'
print(a)

trew

In [95]:
a = 'trew' if '' else 'flause'
print(a)

flause

value =

if

In [2]:
x = -5
'Non-negative' if x >= 0 else 'Negative'

'Negative'